/PrimeiroPrograma/target/
/OlaMundoSwing/target/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/TIposPrimitivos/target/
/TesteTipos/target/
/SomaSwing/target/
/OperadoresAritmeticos/target/
/OperadoresSwing/target/